body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    animation: fadeInUp 0.5s ease-in-out;
    max-width: 400px;
    width: 100%;
}

.form-container {
    text-align: center;
    margin-top: 20px; /* Add some spacing between the header and form */
}

h2 {
    margin-bottom: 20px;
}

.admin-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.admin-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-form label {
    display: block;
    margin-bottom: 10px;
}

.admin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.admin-form button:hover {
    background-color: #0056b3;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#image {
    width: 20px;
    margin-left: 200px;
    padding-left: 40px;
}
