body {
    background-image: url("../images/neauthy-skincare-8jg7vumdUlU-unsplash.jpg");
    background-repeat: no-repeat;
    /* background-position: ;
     */
    
    background-size: cover;
  }   
      .create {
          margin: 50px auto;
          width: 30%;
          border: 1px solid #ccc;
          padding: 20px;
          border-radius: 5px;
          background-color: black;
          text-align: center;
          color: white;
          border-radius: 10px;

      }

      .popup {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          display: none;
      }

      .popup-content {
          background-color: #fff;
          border-radius: 5px;
          padding: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 50%;
          max-width: 500px;
      }

      .close {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 30px;
          font-weight: bold;
          color: #aaa;
          cursor: pointer;
      }

      form {
          display: inline-block;
          text-align: left;
      }

      label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          font-size: 16px;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="number"] {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          width: 100%;
          margin-bottom: 20px;
      }

      input[type="submit"] {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }

      input[type="submit"]:hover {
          background-color: #3e8e41;
      }

      input[type="checkbox"] {
          margin-right: 5px;
      }

      .para-2 {
          text-align: center;
          margin-top: 20px;
          font-size: 1.1rem;
          color: white;

      }
      .para-2 a{
          text-decoration: none;
          color:red;
          font-weight: bolder;
      }

      #btn{
          margin-left:20px;
          padding:5px;
          width:100px;
          cursor: pointer;
          border-radius: 5px;
      }
      #btn:hover{
          background-color:green;
          color:white;
          font-weight: bolder;
      }